<%= form_for(@temple) do |f| %>
  <% if @temple.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@temple.errors.count, "error") %> prohibited this temple from being saved:</h2>

      <ul>
      <% @temple.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
   寺社名<br>
    <%= f.text_field :name %>
  </div>
  
  <div class="field1">
    画像URL<br>
    <%= f.text_field :picUrl %>
  </div>

  <div class="field">
    年齢下限<br>
    <%= f.number_field :ageLimit %>
  </div>

  <div class="field">
    生活支援<br>
    <%= f.check_box :wages , {}, true, false %>
  </div>

  <div class="field">
    宿泊費<br>
    <%= f.number_field :rent %>
  </div>

  <div class="field">
    食費<br>
    <%= f.number_field :foodExpense %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
