<%= form_for(@temple) do |f| %>
  <% if @temple.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@temple.errors.count, "error") %> prohibited this temple from being saved:</h2>

      <ul>
      <% @temple.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
   寺社名<br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    宗派<br>
    <%= f.select :region_id , Region.all.map{|reg| [reg.sect, reg.id]} %>
  </div>
  
  
  <div class="field">
    画像URL<br>
    <%= f.text_field :picUrl %>
  </div>

  <div class="field">
    年齢下限<br>
    <%= f.number_field :ageLimit %>
  </div>

  <div class="field">
    住込みかどうか<br>
    <%= f.check_box :sponger, {}, true, false %>
  </div>
  <div class="field">
    宿泊費<br>
    <%= f.number_field :rent %>
  </div>

  <div class="field">
    食費<br>
    <%= f.number_field :foodExpense %>
  </div>
  
  <div class="field">
    僧になるまでの最低年数<br>
    <%= f.number_field :minYears %>
  </div>

  <div class="field">
    衣装<br>
    <%= f.text_field :costume%>
  </div>
  <div class="field">
    勤務時間<br>
  </div>

  <div class="field">
    月の休暇日数<br>
    <%= f.number_field :holiday %>
  </div>

  <div class="field">
    住所<br>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    電話番号<br>
    <%= f.telephone_field :phoneNumber %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
