<%= form_for(@temple) do |f| %>
  <% if @temple.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@temple.errors.count, "error") %> prohibited this temple from being saved:</h2>

      <ul>
      <% @temple.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br>
    <%= f.number_field :id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :picUrl %><br>
    <%= f.text_field :picUrl %>
  </div>
  <div class="field">
    <%= f.label :ageLimit %><br>
    <%= f.text_field :ageLimit %>
  </div>

<% end %>
