<p id="notice"><%= notice %></p>

<h1>Listing Temples</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @temples.each do |temple| %>
      <tr>
        <td><%= temple.name %></td>
        <td><%= link_to 'Show', temple %></td>
        <td><%= link_to 'Edit', edit_temple_path(temple) %></td>
        <td><%= link_to 'Destroy', temple, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Temple', new_temple_path %>
