<!doctype html>
<p id="notice"><%= notice %></p>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css" />
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css" type="text/css">
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="https://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js"></script>
	<title>出家したい人のための情報サイト「成仏センス」</title>
</head>
<body id="page_top">
	<div id="home" data-role="page">
<<<<<<< HEAD
      <%= image_tag "logo.png" ,:id=>"imgwindow", :alt=>""%>
		<div id="header" data-role="header">
=======
		<div id="header" data-role="header">
      <%= image_tag "logo.png" ,:id=>"imgwindow", :alt=>""%>
>>>>>>> 479437bc56f4432fa4e6a3fdb03b519bf14885f6
		</div>
        
	<div role="main" class="ui-content">
        <div id="top-image">
          <%= image_tag "top.png" ,:alt=>"" ,:class=>"img-responsive",:width=>"100%", :height=>"auto"%> 
        </div>
        
        <div id="site-description">
            <h3>成仏センスでは、宗派、待遇、時間に合わせたお寺が検索できます。</h3>
        </div>
        
		<!--<p><a href="#menu" data-role="button" data-icon="gear" data-inline="true" data-transition="slideup">メニューへ</a></p>-->
        
        <!--宗派カテゴリ--> <!---->
        <div id="sect-group" class="col-sm-3">
            <div id="group-title" >宗派から探す</div>
            <div class="ui-grid-b">
                <div class="ui-block-a"><a href="#" class="ui-btn">真言宗</a></div>
                <div class="ui-block-b"><a href="#" class="ui-btn">日蓮宗</a></div>
                <div class="ui-block-c"><a href="#" class="ui-btn">天台宗</a></div>
            </div>
            <div class="ui-grid-a">
                <div class="ui-block-a"><a href="#" class="ui-btn">浄土宗</a></div>
                <div class="ui-block-b"><a href="#" class="ui-btn">浄土真宗</a></div>
            </div>
        </div><br>
        
        <!--待遇カテゴリ--> <!---->
        <div id="treatment-group" class="col-sm-3">
            <div id="group-title">待遇から探す</div>
            <div class="ui-grid-b">
                <div class="ui-block-a"><a href="#" class="ui-btn">宿泊費</a></div>
                <div class="ui-block-b"><a href="#" class="ui-btn">住み込み</a></div>
                <div class="ui-block-c"><a href="#" class="ui-btn">所得</a></div>
            </div>
            <div class="ui-grid-b">
                <div class="ui-block-a"><a href="#" class="ui-btn">生活支援あり</a></div>
                <div class="ui-block-b"><a href="#" class="ui-btn">衣装貸出あり</a></div>
                <div class="ui-block-c"><a href="#" class="ui-btn">駅近</a></div>
            </div>
        </div><br>

        <!--時間カテゴリ-->
        <div id="time-group">
            
            <div id="group-title">時間から探す</div>
            <div class="ui-grid-b">
                <div class="ui-block-a"><a href="#" class="ui-btn">宿泊費</a></div>
                <div class="ui-block-b"><a href="#" class="ui-btn">住み込み</a></div>
                <div class="ui-block-c"><a href="#" class="ui-btn">所得</a></div>
            </div>
        </div>
            
	</div>
    
<<<<<<< HEAD

	<div data-role="footer" class="ui-bar">
		<h4>出家したい人のための情報サイト「成仏センス」</h4>
	</div>
</div>

=======
	<div data-role="footer">
		<h4>出家したい人のための情報サイト「成仏センス」</h4>
<%= link_to '新しいお寺の登録', new_temple_path %>
	</div>
</div>


	<div data-role="footer" class="ui-bar">
		<h4>出家したい人のための情報サイト「成仏センス」</h4>
	</div>
</div>

>>>>>>> 479437bc56f4432fa4e6a3fdb03b519bf14885f6
</body>
	
</html>
