<p id="notice"><%= notice %></p>


<p>
  <strong>Name:</strong>
  <%= @temple.name %>
</p>

<p>
  <strong>Picurl:</strong>
  <%= @temple.picUrl %>
</p>

<p>
  <strong>AgeLimit:</strong>
  <%= @temple.ageLimit %>
</p>

<p>
  <strong>Sponger:</strong>
  <%= @temple.sponger %>
</p>

<p>
  <strong>Support:</strong>
  <%= @temple.support %>
</p>

<p>
  <strong>Leastyear:</strong>
  <%= @temple.leastYear %>
</p>

<p>
  <strong>Costume:</strong>
  <%= @temple.costume %>
</p>

<p>
  <strong>Workingtime:</strong>
  <%= @temple.workingTime %>
</p>

<p>
  <strong>Holiday:</strong>
  <%= @temple.holiday %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @temple.distance %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @temple.experience %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @temple.comment %>
</p>

<p>
  <strong>Address:</strong>
  <%= @temple.address %>
</p>

<p>
  <strong>Phonenumber:</strong>
  <%= @temple.phoneNumber %>
</p>

=======
>>>>>>> develop
<%= link_to 'Edit', edit_temple_path(@temple) %> |
<%= link_to 'Back', temples_path %>
