<p id="notice"><%= notice %></p>


<p>
  <strong>Name:</strong>
  <%= @temple.name %>
</p>

<p>
  <strong>Picurl:</strong>
  <%= @temple.picUrl %>
</p>

<p>
  <strong>AgeLimit:</strong>
  <%= @temple.ageLimit %>
</p>

<p>
  <strong>Sponger:</strong>
  <%= @temple.sponger %>
</p>

<p>
  <strong>MinYears:</strong>
  <%= @temple.minYears %>
</p>

<p>
  <strong>Costume:</strong>
  <%= @temple.costume %>
</p>

<p>
  <strong>WorkingHours:</strong>
  <%= @temple.workingHours %>
</p>

<p>
  <strong>Holiday:</strong>
  <%= @temple.holiday %>
</p>

<p>
  <strong>DistanceFromStation:</strong>
  <%= @temple.distanceFromStation %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @temple.experience %>
</p>

<p>
  <strong>Address:</strong>
  <%= @temple.address %>
</p>

<p>
  <strong>Phonenumber:</strong>
  <%= @temple.phoneNumber %>
</p>

<%= link_to 'Edit', edit_temple_path(@temple) %> |
<%= link_to 'Back', temples_path %>
